services:
  backend:
    image: cosmtrek/air:v1.63.0
    working_dir: /backend
    ports:
      - "1323:1323"
    volumes:
      - .:/backend
    depends_on:
      - database

  database:
    image: mysql:8.0
    restart: "on-failure"
    container_name: ParryDB
    volumes:
      - ./resources:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=mydb
      #- MYSQL_TCP_PORT=7788
