services:
  backend:
    image: docker.io/cosmtrek/air:v1.63.0
    working_dir: /backend
    container_name: ParryBackend
    restart: "on-failure"
    ports:
      - "1323:1323"
    volumes:
      - .:/backend
    depends_on:
      - database
    # depends_on:
      # database:
      #   condition: service_healthy
      #   required: true
      #   restart: true
    
  database:
    image: docker.io/mysql:8.0
    restart: "on-failure"
    container_name: ParryDB
    volumes:
      - ./resources/ParryLattesDB.sql:/docker-entrypoint-initdb.d/a.sql
      - ./resources/scripts/tipo_de_producao.sql:/docker-entrypoint-initdb.d/b.sql
      - ./resources/scripts/root.sql:/docker-entrypoint-initdb.d/c.sql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=mydb
    # healthcheck:  
    #   test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
    #   interval: 5s        # Check every 5 seconds  
    #   timeout: 5s         # Fail if command takes >5s  
    #   retries: 5          # Mark as unhealthy after 5 failures  
    #   start_period: 10s   # Wait 10s before first check (MySQL needs time to start)  
  
  swagger:
    image: docker.swagger.io/swaggerapi/swagger-ui:latest
    container_name: ParrySwagger
    volumes:
      - ./docs:/docs
    ports:
      - "1024:8080"
    environment:
      - SWAGGER_JSON=/docs/swagger.yml
