services:
  backend:
    image: docker.io/cosmtrek/air:v1.63.0
    working_dir: /backend
    ports:
      - "1323:1323"
    volumes:
      - .:/backend
    depends_on:
      - database

  database:
    image: docker.io/mysql:8.0
    restart: "on-failure"
    container_name: ParryDB
    volumes:
      - ./resources/ParryLattesDB.sql:/docker-entrypoint-initdb.d/a.sql
      - ./resources/scripts/tipo_de_producao.sql:/docker-entrypoint-initdb.d/b.sql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=mydb
      #- MYSQL_TCP_PORT=7788
  
  swagger:
    image: docker.swagger.io/swaggerapi/swagger-ui:latest
    volumes:
      - ./docs:/docs
    ports:
      - "1024:8080"
    environment:
      - SWAGGER_JSON=/docs/swagger.yml
